<%- include('includes/head'); %>
<body>

  <section class="container">
    <h1>
      
      <% /* %>
      <% if(typeof titulo !== 'undefined') { %>
          <%= titulo %>
      <% } else { %>
          O titulo nao foi enviado
      <% } %>
      <% */ %>

    </h1>
    <h1> <%= umaVariavelLocal %> </h1>
    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button type="submit">Enviar</button>
    </form>
  </section>

<%- include('includes/footer'); %>
